# Frontend
project/node_modules/
project/dist/
project/.env

# Backend
backend/.venv/
backend/__pycache__/
backend/uploads/
backend/*.db
backend/.env

# Python
*.pyc
__pycache__/

# VS Code and system files
.vscode/
.DS_Store
Thumbs.db